name: Build Check on PR
on: pull_request
permissions:
  checks: write
  contents: read
jobs:
  build_check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      # - name: Run tests
      #   run: npm test -- --watchAll=false --passWithNoTests

      - name: Build production
        run: npm run build
